*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff0ea;
}
td{
    border: 8px solid #fff0ea;
    padding: 70px;
    text-align: center;
    background-color: #e05b47;
    color: white;
    width: 90px;
    height: 80px;
    
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
td:hover{
    cursor: pointer;
    background-color: white;
    border: white;
    color: white;
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg)
}
.box{
   margin-left: 0 auto;
   margin-right: 0 auto;
}
table{ 
    
    font-family: Bahnschrift Condensed;
    margin: 0 auto; 
    padding-bottom: 90px;
}
.logo>img{
    width: 100%;
    padding-bottom: 20px;
}
p{
    text-align: center;
    font-family: Bahnschrift Condensed;
    color: #e05b47;
    font-size: 20px;
    padding-bottom: 40px;
    line-height: 25px;
}
.serce>img{
    font-size: 1px;
}
.lizak{
    width: 29px;
}
h1{
    text-align: center;
    font-family: Bahnschrift Condensed;
    color: #e05b47;
    font-size: 37px;
    padding-bottom: 30px;
}

@media (max-width:700px){
    table{
        width: 100%;
    }
 td{
     width: 100%;
     display: block;
     padding: 0 !important;
     display: flex;
     align-items: center;
     justify-content: center;
     
 }
 tr{
    display: block;
    width: 100%;

 }
}